<!-- Modal -->
<div id="rows_publish" class="modal fade" data-backdrop="static" role="dialog" ng-controller="ctrl_dbdev">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hapus Dataset {{ model.item.feature }}?</h4>
            </div>
            <div class="modal-body">
                <p>Yakin akan menghapus dataset <strong>{{ model.item.dataset }}.{{ model.item.feature }}</strong> dengan identifier <strong>{{ model.item.identifier }}</strong>???</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" id="btnLayerHapus" ng-click="hapusKUGI(model.item.dataset,model.item.feature,model.item.identifier,'dbdev')">Hapus!</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
            </div>
        </div>

    </div>
</div>