<div id="ExtSrvView" ng-app="nodeManager" ng-controller="ExtSrvCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">Web Services Eksternal
            <button type="button" class="btn btn-info pull-right" ng-click="reloadView()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#extsrv_tambah"><span class="glyphicon glyphicon-upload"></span> Tambah Servis</button></div>
        <div class="panel-body">

            <form>
                <div style="height: 50px;">
                    <div class="form-group" id="sticky_cari_anchor">
                        <div class="input-group" id="sticky_cari">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Cari" ng-model="cariExtsrv">
                        </div>
                    </div>
                </div>
            </form>

            <div class="row">
                <div id="jumlahPerHalaman" class="pull-left" style="padding-left: 15px; vertical-align: middle">
                    <!--<label for="selpageSize" class="col-md-2 control-label">Jumlah per halaman: </label>-->
                    <select ng-model="pageSize" id="selpageSize" class="form-control" ng-init="pageSize = '10'">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                </div>
                <div id="" class="pull-right" style="padding-right: 15px;">
                    <button class="btn btn-info-xs" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    Sebelum
                </button> {{currentPage+1}} dari {{numberOfPages()}} halaman
                    <button class="btn btn-info-xs" ng-disabled="currentPage+1 >= numberOfPages()" ng-click="currentPage=currentPage+1">
                    Berikut
                </button>
                </div>
            </div>

            <table class="table table-striped">

                <thead>
                    <tr>
                        <td>
                            <a href="#/extsrvs" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                Nama Servis
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#/extsrvs" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                URL Servis
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#/extsrvs" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                Tipe
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            Aksi
                            </a>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in extsrv | orderBy:sortType:sortReverse | filter:cariPengguna | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td>{{ item.name }}</td>
                        <td>{{ item.url }}</td>
                        <td>{{ item.type }}</td>
                        <td style="width: 152px">
                            <div class="btn-group">
                                <button type="button" class="btn btn-warning" ng-click="editExtsrv.open(item)"><span class=" glyphicon glyphicon-edit "></span></button>
                                <button type="button" class="btn btn-danger" ng-click="hapusExtsrv.open(item)"><span class=" glyphicon glyphicon-remove "></span></button>
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
            <extsrv-edit-dialog model="editExtsrv "></extsrv-edit-dialog>
            <extsrv-tambah-dialog model="tambahExtsrv "></extsrv-tambah-dialog>
            <extsrv-hapus-dialog model="hapusExtsrv "></extsrv-hapus-dialog>

        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div id="extsrv_tambah" class="modal fade" role="dialog" ng-controller="ExtSrvCtrl">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tambah Servis</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <tr class="warning">
                        <td style="width: 150px"><strong>Nama Servis</strong></td>
                        <td><input class="form-control input-sm" type="text" style="width: 500" ng-model="extsrventry.name"></td>
                    </tr>
                    <tr class="warning">
                        <td style="width: 150px"><strong>URL Servis</strong></td>
                        <td><input class="form-control input-sm" type="text" style="width: 500" ng-model="extsrventry.url"></td>
                    </tr>
                    <tr class="warning">
                        <td style="width: 150px"><strong>Tipe</strong></td>
                        <td> <select ng-model="extsrventry.type" ng-init="">
                            <option selected value='OGC WMS'>OGC WMS</option>
                            <option value='ESRI REST'>ESRI REST</option>
                        </select></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnExtsrvTambah" ng-click="tambahGSExtsrv()" ng-disabled="!extsrventry.name && extsrventry.url">Tambah!</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
            </div>
        </div>

    </div>
</div>

<script>
    $('#extsrv_tambah').on('hidden.bs.modal', function() {
        angular.element($("#ExtSrvView")).scope().reloadView();
    })
</script>