<!-- Modal -->
<div class="modal fade" id="grup_hapus" ng-controller="GrupCtrl" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Hapus Grup {{ model.item.name }} ?</h4>
            </div>
            <div class="modal-body">
                <p>Yakin akan menghapus grup
                    <strong>{{ model.item.name }}</strong>???</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" id="btnGrupHapus" ng-click="hapusGSGrup()" type="button">Hapus!</button>
                <button class="btn btn-default" data-dismiss="modal" type="button">Tutup</button>
            </div>
        </div>
        <!-- rem -->
    </div>
</div>
<script>
    $('#grup_hapus').on('hidden.bs.modal', function() {
        angular.element($("#GrupView")).scope().reloadView();
    });
</script>