<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="keyword_edit" ng-controller="KeywordCtrl" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Sunting Keyword</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <tr>
                        <td style="width: 150px">
                            <strong>Keyword</strong>
                        </td>
                        <td><input class="form-control input-sm" type="text" style="width: 500" ng-model="model.item.keyword"><input type="hidden" ng-model="model.item.id"></td>
                    </tr>
                    <tr class="warning">
                        <td style="width: 150px"><strong>Logo</strong></td>
                        <td><input id="keyword_logo" type="file" ng-model="keyword_logo" name="file_logo" ng-file-select="uploadLogo($files)" required></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" id="btnKeywordEdit" ng-click="editGSKeyword(model.item)" type="button">Simpan!</button>
                <button class="btn btn-default" data-dismiss="modal" type="button">Tutup</button>
            </div>
        </div>
        <!-- rem -->
    </div>
</div>