<!-- Modal -->
<div class="modal fade" id="keyword_hapus" ng-controller="KeywordCtrl" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Hapus Keyword {{ model.item.keyword }} ?</h4>
            </div>
            <div class="modal-body">
                <p>Yakin akan menghapus Keyword
                    <strong>{{ model.item.keyword }}</strong>???</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" id="btnKeywordHapus" ng-click="hapusGSKeyword()" type="button">Hapus!</button>
                <button class="btn btn-default" data-dismiss="modal" type="button">Tutup</button>
            </div>
        </div>
        <!-- rem -->
    </div>
</div>
<script>
    $('#keyword_hapus').on('hidden.bs.modal', function() {
        angular.element($("#KeywordView")).scope().reloadView();
    });
</script>