<!-- Modal -->
<div id="layer_edit" class="modal fade" data-backdrop="static" role="dialog" ng-controller="LayersCtrl">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ model.layer.layer_name }}</h4>
            </div>
            <div class="modal-body">
                <openlayers id='prevmap' width="100%" height="300px" ol-center="model.center" ol-defaults="defaults" ng-if="model.render">
                    <ol-layer ol-layer-properties="model.wms" ng-if="model.render"></ol-layer>
                </openlayers>
                <!--<pre ng-if="model.render">{{ model.wms | json }}</pre>
				<pre ng-if="model.render">{{ model.center | json }}</pre>-->
                <form>
                    <table class="table table-hover">
                        <tr>
                            <td style="width: 150px"><strong>Layer ID</strong></td>
                            <td>{{ model.layer.layer_id }}</td>
                        </tr>
                        <!--<tr><td><strong>Layer REST URL</strong></td><td style="word-wrap: break-word">{{ model.layer.layer_resource }}</td></tr>-->
                        <tr class="warning">
                            <td><strong>Layer Title</strong></td>
                            <td><input class="form-control input-sm" type="text" style="width: 500" ng-model="model.layer.layer_name"></td>
                        </tr>
                        <tr class="warning">
                            <td><strong>Layer Abstract</strong></td>
                            <td><textarea class="form-control input-sm" rows="5" type="text" ng-model="model.layer.layer_abstract"></textarea></td>
                        </tr>
                        <!--<tr class="warning">
                            <td><strong>Aktif</strong></td>
                            <td>
                                <span ng-if="model.layer.layer_aktif==true" class="fa fa-check-square-o"></span>
                                <span ng-if="model.layer.layer_aktif==false" class="fa fa-square-o"></span>
                            </td>
                        </tr>-->
                        <tr>
                            <td><strong>Layer Style </strong></td>
                            <td>
                                <select name='style' ng-options="obj.value as obj.text for obj in model.jstyles track by obj.value" ng-model="model.selectedstyle">
								</select>
                                <!--<select name='style' ng-model="model.layer.layer_style"> 
								<option ng-repeat="style in jstyles" ng-selected="model.layer.layer_style == obj.text" value="{{ style.value }}">{{ style.value }}</option>
								</select>-->
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Layer SRS</strong></td>
                            <td>{{ model.layer.layer_srs }}</td>
                        </tr>

                    </table>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnLayerEdit" ng-click="editGSLayer()">Simpan</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
            </div>
        </div>

    </div>
</div>