<!-- Modal -->
<div id="layer_hapus" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hapus Layer {{ model.layer.layer_name }} ?</h4>
            </div>
            <div class="modal-body">
                <p>Yakin akan menghapus layer <strong>{{ model.layer.layer_name }}</strong> ???</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
            </div>
        </div>
        <!-- rem -->
    </div>
</div>