<!-- Modal -->
<div class="modal fade" id="linkweb_hapus" ng-controller="LinkwebCtrl" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Hapus Linkweb {{ model.item.linkweb }} ?</h4>
            </div>
            <div class="modal-body">
                <p>Yakin akan menghapus Linkweb
                    <strong>{{ model.item.linkweb }}</strong>???</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" id="btnLinkwebHapus" ng-click="hapusGSLinkweb()" type="button">Hapus!</button>
                <button class="btn btn-default" data-dismiss="modal" type="button">Tutup</button>
            </div>
        </div>
        <!-- rem -->
    </div>
</div>
<script>
    $('#linkweb_hapus').on('hidden.bs.modal', function() {
        angular.element($("#LinkwebView")).scope().reloadView();
    });
</script>