<!-- Modal -->
<div id="style_hapus" class="modal fade" data-backdrop="static" role="dialog" ng-controller="StylesCtrl">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hapus Style {{ model.style.name }} ?</h4>
            </div>
            <div class="modal-body">
                <p>Yakin akan menghapus style <strong>{{ model.style.name }}</strong> ???</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnLayerHapus" ng-click="hapusGSStyle()">Hapus!</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
            </div>
        </div>

    </div>
</div>